.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.news-icon {
  width: 25px;
  height: 25px;
  margin: 10px;
}


.search-string {
  width: 90%;
  padding: 10px;
}


.main-block-link {
  margin: 10px;
}

.advertising {
  width: 90%;
  max-height: 200px;
}

.program-channel-name {
  font-style: italic;
  color: grey;
}

h1 {
  color: rgb(53, 19, 204);
  font-size: small;
}